 @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
 
 :root{
    --primary-color: #f97316;
    --dark-red: #991b1b;
    --background: #d4d4d8;
}

body{
    font-family: 'Lora', serif;
    font-size: larger;
    margin: 0px;
    background-color: var(--background);
}

hr{
    margin: 1rem 0rem;
}


/**Container**/
.container{
    padding: 0rem 1rem;
}

.container-center{
max-width: 70%; 
margin: auto;
} 

/* links */
.link{
box-sizing: border-box;
text-decoration: none;
}

.link-primary {
    background-color: var(--primary-color);
    margin-top: 5rem;
    border-radius: 0.5rem;
    color: brown;
    padding: 0.6rem;
}

.link-secondary{
    color: brown;
    margin-top: 5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.6rem;
}

/* lists */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 1rem;
}


/* navigation */

.navigation{
    font-family: 'Lora', serif;
    background-color:var(--primary-color);
    color:#e4e4e7;
    padding: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color:#e4e4e7;
    font-size: high;
    font-family: 'Lora', serif;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
 
.hero .hero-heading{
    padding-top: 1rem;
    text-align: center;
    color: var(--primary-color);
    }

    .img-blog{
        display: block;
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    /* section */

    .section{
        padding: 1rem;
    }
     
    .section h1{
        text-align: center;

    }

    .section2 {
        padding: 2rem;
        margin-top:3rem;
        margin-bottom:3rem;
        margin-left: auto;
        margin-right: auto;
        max-width:1000px;
        border-radius: 1rem;
        
    }


    /* Blog */

    #blogContainer{
        max-width:80%;
        padding-left:3rem;
        padding-right: 1rem;
        text-align: justify;
        line-height: 1.8;
    }

    /* footer */

    .footer{
        background-color: var(--primary-color);
        padding: 2rem;
        text-align: center;
        color: #e4e4e7;
        font-size: medium;
        margin-top: 2rem;
    }

    .footer .link{
        color: #e4e4e7;
    }

    .footer .footer-header{
      font-weight: bold ;
      font-size: large;
    }
    .footer ul{
        padding-inline-start: 0px;
    }